<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }
        </style>
        <style>
            .ui-paginator {
                <!--text-align: right ! important -->
            }
        </style>
    </ui:define>

    <ui:define name="content">

        <h1 class="title">Buat / Ubah Barang</h1>
        <div class="entry" >
            <h:form id="form" >
                <p:panel id="panel" style="width: 100%;border-style: dashed;">
                    <h:panelGrid columns="3" style="padding-top: 10px; padding-bottom:10px;">
                        <h:outputLabel for="code" value="Kode :* " />
                        <p:inputText id="code" value="#{itemForm.item.code}" required="false" size="100" >
                            <f:validateLength minimum="2" />
                        </p:inputText>
                        <p:message for="code" />

                        <h:outputLabel for="title" value="Nama *" />
                        <p:inputText id="title" value="#{itemForm.item.name}" required="false" size="100" >
                            <f:validateLength minimum="2" />
                            <f:validateRequired for="title"/>
                        </p:inputText>                        
                        <p:message for="title" />  

                        <h:outputLabel for="categorys" value="Kategori *" />                      
                        <p:scrollPanel mode="native"  style="height: 150px">
                            <h:panelGrid>
                                <p:selectManyCheckbox id="categorys" value="#{itemForm.item.categorys}" layout="pageDirection" converter="#{categoryConverter}">
                                    <f:selectItems value="#{itemForm.categorys}" var="category" itemLabel="#{category.name}"  />
                                </p:selectManyCheckbox>
                            </h:panelGrid>
                        </p:scrollPanel>  
                        <p:message for="categorys"  />

                        <h:outputLabel for="pricePurchase" value="Harga Beli " />
                        <p:inputText id="pricePurchase" value="#{itemForm.item.pricePurchase}" required="false"  size="100">
                            <f:convertNumber integerOnly="true"/>
                        </p:inputText>
                        <p:message for="pricePurchase" />

                        <h:outputLabel for="priceSale" value="Harga Jual " />
                        <p:inputText id="priceSale" value="#{itemForm.item.priceSale}" required="false"  size="100">
                            <f:convertNumber integerOnly="true"/>
                        </p:inputText>
                        <p:message for="priceSale" />

                        <h:outputLabel for="stock" value="Stok " />
                        <p:inputText id="stock" value="#{itemForm.item.stock}" required="false"  size="100"/>
                        <p:message for="stock" />
                        
                    </h:panelGrid> 
                </p:panel>

                <p:toolbar style="border-top: none;width: 100%;">  
                    <p:toolbarGroup align="right" style="padding-top: 5px; padding-bottom: 5px;" >
                        <p:commandButton  value="Simpan" action="#{itemForm.actionSave}" ajax="false" update="@parent,:form:bookList" />
                        <p:commandButton  value="Batal" action="#{itemForm.actionCancel}" ajax="false"  />
                    </p:toolbarGroup>
                </p:toolbar>
            </h:form>

        </div>

    </ui:define>
</ui:composition>