<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                template="../../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }
        </style>
        <style>
            .ui-paginator {
                <!--text-align: right ! important -->
            }
            .ui-growl {
                position: absolute;
                right : 38%;               
                top: 1%;                
            }
        </style>
    </ui:define>

    <ui:define name="content">      
        <p:growl id="growl"/> 
        <div class="entry" >
            <h:form id="itemList">
                <p:dataTable id="dataTable" 
                             var="item"
                             paginator="true"
                             rows="15"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="15,25,50"                                                      
                             emptyMessage="No book found with given criteria"
                             widgetVar="tabelItem"  
                             paginatorPosition="top" 
                             tableStyle="width:110%"
                             selection="#{itemList.selectedItems}"
                             value="#{itemList.dataModel}"
                             lazy="true"                            
                             >


                    <f:facet name="header">
                        <p:toolbar style="width: 100%;border-style: none">  
                            <p:toolbarGroup align="left" style="padding-top: 10px;" >
                                <h1 class="title">Barang</h1>
                            </p:toolbarGroup>
                            <p:toolbarGroup align="right" style="padding-top: 25px;" >
                                <p:commandButton  value="New" icon="ui-icon-document" action="#{itemList.actionForm}" ajax="false" />
                                <p:commandButton  value="Delete" icon="ui-icon-trash" action="#{itemList.actionDelete}" update="dataTable" />
                                <p:commandButton  value="Edit" title="Edit" icon="ui-icon-pencil" action="#{itemList.actionEdit}" update="@(@[id=growl])"/>
                                <p:separator />
                                <p:commandButton value="Search" title="Search" icon="ui-icon-search" oncomplete="searchDialog.show();" />
                            </p:toolbarGroup>
                        </p:toolbar>
                    </f:facet>

                    <p:column selectionMode="multiple" style="width:18px" >                     
                    </p:column>  

                    <p:column headerText="Kode" sortBy="#{item.code}"  style="width: 15%">
                        <h:outputText value="#{item.code}"   />
                    </p:column>

                    <p:column headerText="Nama" sortBy="#{item.name}" >                      
                        <h:outputText value="#{item.name}" />
                    </p:column>

                    <p:column headerText="Harga Beli" style="width: 15%;text-align:center" >
                        <h:outputText value="#{item.pricePurchase}" >
                            <f:convertNumber integerOnly="true"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Harga Jual" style="width: 15%;text-align: center">
                        <h:outputText value="#{item.priceSale}" >
                            <f:convertNumber integerOnly="true"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Stok" sortBy="#{item.stock}" style="width: 10%;text-align: center">
                        <h:outputText value="#{item.stock}" />
                    </p:column>

                    <f:facet name="footer" > 
                        Jumlah Barang : #{itemList.dataModel.rowCount}
                    </f:facet>
                </p:dataTable>
            </h:form>
            <p:dialog id="modalDialog" header="Search" widgetVar="searchDialog" modal="true"  >  
                <h:form>  

                    <h:panelGrid columns="2" cellpadding="5">  
                        <h:outputLabel for="code" value="Code" />  
                        <p:inputText value="#{itemList.searchCodeKey}" id="code" label="code"  size="50" />  

                        <h:outputLabel for="name" value="Name" />  
                        <p:inputText value="#{itemList.searchNameKey}" id="name"  label="Name"  size="50"  >

                        </p:inputText>  

                        <h:outputLabel for="category" value="Category" />  
                        <p:inputText value="#{itemList.searchCategoryKey}" id="category"  label="category"  size="50" />  

                        <f:facet name="footer">  
                            <p:commandButton id="loginButton" value="Search" update="@form" 
                                             action="#{itemList.actionSearch}"   
                                             oncomplete="handleSearchRequest(xhr, status, args)"/>  
                        </f:facet>  
                    </h:panelGrid>  

                </h:form>  
            </p:dialog> 
        </div>


        <script type="text/javascript">  
            function handleSearchRequest(xhr, status, args) {  
                if(args.validationFailed || !args.found) {  
                    jQuery('#modalDialog').effect("shake", { times:3 }, 100);  
                } else {                     
                    searchDialog.hide();  
                    jQuery('#').fadeOut();  
                }  
            }  
        </script>  
    </ui:define>
</ui:composition>

