<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }
            .noBorders tr, .noBorders td {
                background: none !important;
                border: none !important;
            }
        </style>        
    </ui:define>

    <ui:define name="content">

        <h1 class="title">Dashboard</h1>
        <div class="entry">
<!--            <h:form id="dashboard">

                <p:panelGrid styleClass="noBorders" >
                    <p:row>
                        <p:column style="width:400px;" >
                            <p:panel>
                                <p:panelGrid columns="2" >
                                    <f:facet name="header">
                                        <h:outputText value="Buku"/>
                                    </f:facet>
                                    <h:outputText value="Total Buku"/>
                                    <h:outputText value="#{dashboard.bookTotal}"/>
                                    <h:outputText value="Tersedia"/>
                                    <h:outputText value="12"/>
                                    <h:outputText value="Disewa"/>
                                    <h:outputText value="12"/>
                                    <h:outputText value="Hilang"/>
                                    <h:outputText value="12"/>
                                    <h:outputText value="Tidak Diketahui"/>
                                    <h:outputText value="12"/>
                                </p:panelGrid>
                                <p:panelGrid columns="2">
                                    <f:facet name="header">
                                        <h:outputText value="Anggota"/>
                                    </f:facet>
                                    <h:outputText value="Total Anggota"/>
                                    <h:outputText value="12"/>
                                    <h:outputText value="Aktif"/>
                                    <h:outputText value="12"/>
                                    <h:outputText value="Tidak Aktif"/>
                                    <h:outputText value="12"/>                                  
                                </p:panelGrid>
                            </p:panel>

                        </p:column>
                        <p:column>
                            <p:lineChart id="lineChart"  legendPosition="e" minY="0" animate="true" style="width: 600px;height:300px"/>
                        </p:column>
                    </p:row>



                </p:panelGrid>

                <p:confirmDialog header="Oooops!!!" severity="alert" 
                                 visible="#{not empty param['expired']}" 
                                 message="View has expired." widgetVar="confirmDlg">
                    <p:commandButton type="button" value="OK" onclick="confirmDlg.hide()" />
                </p:confirmDialog>

            </h:form>-->

        </div>



    </ui:define>
</ui:composition>