<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }
            .noBorders tr, .noBorders td {
                background: none !important;
                border: none !important;
            }
        </style>      
        <script type="text/javascript">
            function start() {
                statusDialog.show();
            }

            function stop() {
                statusDialog.hide();
            }
        </script>
    </ui:define>

    <ui:define name="content">

        <h1 class="title">Laporan Peminjaman/Pengembalian</h1>
        <div class="entry">
            <h:form id="reportForm">
                <p:growl id="growl"/> 
                <p:panelGrid styleClass="noBorders">

                    <p:row>  
                        <p:column>
                            <p:panel>
                                <p:panelGrid columns="1">
                                    <f:facet name="header">
                                        <h:outputText value="Pilihan"/>
                                    </f:facet>

                                    <h:outputText value="Tanggal"/>
                                    <p:calendar id="startDate" showOn="button" value="#{report.startDate}" pattern="dd/MM/yyyy" size="15" maxdate="#{report.endDate}">
                                        <p:ajax update="reportForm" event="dateSelect" listener="#{report.changeStartDate}" />
                                    </p:calendar>
                                    <h:outputText value="s/d"/>
                                    <p:calendar showOn="button"  value="#{report.endDate}" pattern="dd/MM/yyyy" size="15"  maxdate="#{report.maxDate}">
                                        <p:ajax update="reportForm" event="dateSelect" listener="#{report.changeEndDate}" />
                                    </p:calendar>
                                    <h:outputText value="Model"/>
                                    <p:selectOneMenu id="chartModel" value="#{report.chartModel}" style="width:150px;"> 
                                        <p:ajax event="change" listener="#{report.changeChartModel}" update="reportForm"/>
                                        <f:selectItem itemValue="barChart" itemLabel="Bar Chart" /> 
                                        <f:selectItem itemValue="pieChart" itemLabel="Pie Chart" />                                        
                                    </p:selectOneMenu>                                     
                                    <h:outputText value="Jenis"/>
                                    <p:selectOneMenu id="reportType" value="#{report.reportType}" style="width:150px;">   
                                        <p:ajax update="reportForm" event="change" listener="#{report.changeReportType}" />
                                        <f:selectItem itemValue="pdfType" itemLabel="PDF" /> 
                                        <f:selectItem itemValue="wordType" itemLabel="WORD" />                                        
                                    </p:selectOneMenu>    
                                    <p:commandButton value="Print" 
                                                     title="Print" 
                                                     icon="ui-icon-print"                                                      
                                                     ajax="false"
                                                     action="#{report.actionPrint}">
                                       
                                    </p:commandButton>

                                </p:panelGrid>
                            </p:panel>

                        </p:column>

                        <p:column>
                            <p:barChart id="barChart"  
                                        legendPosition="ne" 
                                        min="0" 
                                        animate="true" 
                                        value="#{report.barModel}"
                                        style="width:600px ;height:400px" 
                                        orientation="vertical"
                                        rendered="#{report.barChartRendered}">
                                <p:ajax  event="itemSelect" listener="#{report.chartItemSelect}" update="growl"/>
                            </p:barChart>

                            <p:pieChart id="pieChartRetain" 
                                        legendPosition="w" 
                                        value="#{report.pieModelRetain}" 
                                        rendered="#{report.pieChartRendered}"
                                        title="Data Peminjaman" 
                                        style="width:600px ;height:400px;" 
                                        showDataLabels="true">
                                <p:ajax  event="itemSelect" listener="#{report.chartItemSelect}" update="growl"/>
                            </p:pieChart>

                            <p:pieChart id="pieChartRelease" 
                                        legendPosition="w" 
                                        value="#{report.pieModelRelease}" 
                                        rendered="#{report.pieChartRendered}"
                                        title="Data Pengembalian" 
                                        style="width:600px ;height:400px;" 
                                        showDataLabels="true" >
                                <p:ajax  event="itemSelect" listener="#{report.chartItemSelect}" update="growl"/>
                            </p:pieChart>

                        </p:column>
                    </p:row>

                </p:panelGrid>

                <p:confirmDialog header="Oooops!!!" severity="alert" 
                                 visible="#{not empty param['expired']}" 
                                 message="View has expired." widgetVar="confirmDlg">
                    <p:commandButton type="button" value="OK" onclick="confirmDlg.hide()" />
                </p:confirmDialog>

            </h:form>

        </div>



    </ui:define>
</ui:composition>