<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">

        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Kendil - Inventory System</title>
            </f:facet>

            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/default.css" />
            <link type="text/css" rel="stylesheet" href="#{request.contextPath}/css/syntaxhighlighter/syntaxhighlighter.css" />

            <ui:insert name="head"></ui:insert>

            <script type="text/javascript">
                $(function() {$('.sidebar a').hover(function() {$(this).toggleClass('ui-state-hover');})});
            </script>        
        </h:head>

        <h:body>

            <div id="header" class="ui-widget ui-widget-header" style="padding-left: 15px; height: 80px">
                <div id="logo">
                    <img src="#{request.contextPath}/images/logo_school.png" alt="Logo"/>                    
                </div>


                <div id="menu" class="ui-widget" >
                    <ul id="main" >
                        <p class="copyright">Kendil Version 1.0.0</p>
                    </ul>
                </div>

                <div id="globalthemeswitcher">
                    <h:form>
                        <p:themeSwitcher value="#{themeSwitcherBean.theme}" style="width:175px;"  effect="fade" var="t">
                            <f:selectItem itemLabel="Choose Theme" itemValue="" />
                            <f:selectItems value="#{themeSwitcherBean.advancedThemes}" var="theme" itemLabel="#{theme.name}" itemValue="#{theme}"/>
                            <p:ajax listener="#{themeSwitcherBean.saveTheme}" />

                            <p:column>
                                <h:graphicImage name="images/themes/#{t.image}" />
                            </p:column>

                            <p:column>
                                #{t.name}
                            </p:column>
                        </p:themeSwitcher>
                    </h:form>
                </div>
            </div>

            <div id="page" class="ui-widget">
                <div id="sidebar" class="ui-widget-content ui-corner-bottom ui-helper-clearfix ui-shadow">                    
                    <h3 class="ui-widget ui-widget-header ui-corner-all submenu-title" style="margin-top:10px">General</h3>
                    <div class="ui-widget submenu-content">
                        <table>
                            <tr>
                                <td style="width:20%">
                                    <ul>
                                        <li><a href="#{request.contextPath}/ui/home.jsf">Dashboard</a></li>
                                        <li><a href="#{request.contextPath}/ui/general/purchaseitem/list.jsf">Pembelian</a></li>
                                        <li><a href="#{request.contextPath}/ui/general/saleitem/list.jsf">Penjualan</a></li>
                                    </ul>
                                </td>                               
                            </tr>
                        </table>
                    </div>

                    <h3 class="ui-widget ui-widget-header ui-corner-all submenu-title" style="display: #{menu.isMasterDataVisible};">Master Data</h3>
                    <div class="submenu-content" >
                        <table>
                            <tr>
                                <td style="width:20%">
                                    <ul>
                                        <li><a href="#{request.contextPath}/ui/master/category/list.jsf">Kategori</a></li>
                                        <li><a href="#{request.contextPath}/ui/master/item/list.jsf">Barang</a></li>
                                        <li><a href="#{request.contextPath}/ui/master/supplier/list.jsf">Supplier</a></li>                                        
                                        <li><a href="#{request.contextPath}/ui/master/lokasi/location_list.jsf">Lokasi</a></li>                                       
                                    </ul>
                                </td>                                
                            </tr>
                        </table>
                    </div>

                    <h3 class="ui-widget ui-widget-header ui-corner-all submenu-title">Report</h3>
                    <div class="submenu-content">
                        <table>                           
                            <tr>
                                <td style="width:20%">
                                    <ul>
                                        <li><a href="#{request.contextPath}/ui/report/retain_release.jsf">Pembelian / Penjualan</a></li>
                                        <li><a href="#{request.contextPath}/ui/report/book.jsf">Barang</a></li> 
                                        <li><a href="#{request.contextPath}/ui/report/member.jsf">Supplier</a></li>                                     
                                    </ul>
                                </td>                                
                            </tr>
                        </table>
                    </div>    

                    <h3 class="ui-widget ui-widget-header ui-corner-all submenu-title">Setting</h3>
                    <div class="submenu-content">
                        <table>                           
                            <tr>
                                <td style="width:20%">
                                    <ul>
                                        <li><a href="#{request.contextPath}/ui/button.jsf">Sistem Parameter</a></li>
                                        <li><a href="#{request.contextPath}/ui/commandButton.jsf">Pengguna</a></li> 
                                        <li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li><li>&nbsp;</li>
                                    </ul>
                                </td>                                
                            </tr>
                        </table>
                    </div>    

                </div>

                <div id="content">
                    <div class="post">
                        <ui:insert name="content">...</ui:insert>
                    </div>
                </div>

                <div style="clear: both;">&nbsp;</div>
            </div>

            <div id="footer" class="ui-widget ui-widget-header ui-corner-all">
                <p class="copyright">Created By dailycode</p>
            </div>

            <ui:insert name="status">
                <p:ajaxStatus style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">
                    <f:facet name="start">
                        <p:graphicImage value="/images/loading.gif" />
                    </f:facet>

                    <f:facet name="complete">
                        <h:outputText value="" />
                    </f:facet>
                </p:ajaxStatus>
            </ui:insert>

        </h:body>

        <ui:insert name="highlight">
            <script language="javascript" src="#{request.contextPath}/syntaxhighlighter/scripts/sh.js"></script>
            <script language="javascript">
                dp.SyntaxHighlighter.ClipboardSwf = '#{request.contextPath}/syntaxhighlighter/scripts/clipboard.swf';
                dp.SyntaxHighlighter.HighlightAll('code');
            </script>
        </ui:insert>

    </f:view>
</html>
