<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }
        </style>
        <style>
            .ui-paginator {
                <!--text-align: right ! important -->
            }            
            .ui-button-icon-only .ui-button-text {
                padding: 0;
                text-indent: -9999999px;
            }
        </style>
    </ui:define>

    <ui:define name="content">

        <h1 class="title">Buat / Ubah Pembelian</h1>
        <div class="entry" >
            <h:form id="form" >
                <p:panel id="panel" style="width: 100%;border-style: dashed;">

                    <h:panelGrid columns="3" style="padding-top: 10px; padding-bottom:10px;">

                        <h:outputLabel for="invoice" value="Invoice" />
                        <p:inputText id="invoice" value="#{purchaseItemForm.purchaseItem.invoiceNumber}" required="false" size="100" >
                            <f:validateLength minimum="2" />
                        </p:inputText>
                        <p:message for="invoice" />

                        <h:outputLabel for="supplier" value="Supplier " />
                        <p:selectOneMenu id="supplier" value="#{purchaseItemForm.purchaseItem.supplier}" converter="#{supplierConverter}" style="width:150px;">
                            <f:selectItems value="#{purchaseItemForm.suppliers}"  var="location" itemValue="#{supplier}" itemLabel="#{supplier.name}" />
                        </p:selectOneMenu>  
                        <p:message for="supplier" />

                        <h:outputLabel for="datePurchase" value="Tgl. Beli" />
                        <p:calendar id="datePurchase" value="#{purchaseItemForm.purchaseItem.datePurchase}"  size="16" pattern="dd/MM/yyyy" showOn="button"/>
                        <p:message for="datePurchase" />

                        <h:outputLabel for="price" value="Harga" />
                        <p:inputText id="price" value="#{purchaseItemForm.purchaseItemDetail.price}" required="false" size="16" >
                            <f:convertNumber integerOnly="true"/>
                        </p:inputText>
                        <p:message for="price" />

                        <h:outputLabel for="qty" value="Qty *" />
                        <p:inputText id="qty" value="#{purchaseItemForm.purchaseItemDetail.qty}" required="true" size="16" >
                            <f:convertNumber integerOnly="true"/>
                            <f:validateRequired for="qty"/>
                        </p:inputText>
                        <p:message for="qty" />

                        <h:outputLabel  value="Item" />                       
                        <p:commandButton style="height: 100%;" value="Cari Barang" title="Search" icon="ui-icon-search" oncomplete="searchDialog.show()"/>

                    </h:panelGrid> 

                    <p:dataTable id="purchaseDetailTable"
                                 var="purchaseItemDetail" value="#{purchaseItemForm.purchaseItemDetails}">  
                        <p:column headerText="Kode">  
                            <h:outputText value="#{purchaseItemDetail.item.code}" />  
                        </p:column>  

                        <p:column headerText="Name Barang">  
                            <h:outputText value="#{purchaseItemDetail.item.name}" />  
                        </p:column>  

                        <p:column headerText="Harga Beli" style="width: 15%; text-align: right;">  
                            <h:outputText value="#{purchaseItemDetail.price}"  >
                                <f:convertNumber integerOnly="true"/>
                            </h:outputText>  
                        </p:column>  

                        <p:column headerText="Qty" style="width: 10%; text-align: right;">  
                            <h:outputText value="#{purchaseItemDetail.qty}" />  
                        </p:column>  

                        <p:column style="width: 1%">  
                            <p:commandButton id="removeButton" icon="ui-icon-close" title="hapus"  
                                             style="" action="#{purchaseItemForm.removeItem}" update=":form">  
                                <f:setPropertyActionListener value="#{purchaseItemDetail}" target="#{purchaseItemForm.selectedPurchaseItemDetail}"   />  
                            </p:commandButton>  
                        </p:column>

                    </p:dataTable>

                </p:panel>

                <p:toolbar style="border-top: none;width: 100%;">  
                    <p:toolbarGroup align="right" style="padding-top: 5px; padding-bottom: 5px;" >
                        <p:commandButton  value="Simpan" action="#{purchaseItemForm.actionSave}" ajax="false" update="@parent,:form:bookList" />
                        <p:commandButton  value="Batal" action="#{purchaseItemForm.actionCancel}" ajax="false"  />
                    </p:toolbarGroup>
                </p:toolbar>
            </h:form>
            <p:dialog id="modalDialog" header="Search" widgetVar="searchDialog" modal="true" height="400" width="600" >  
                <h:form>  

                    <p:dataTable id="dataTable" 
                                 var="item"
                                 paginator="true"
                                 rows="15"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="15,25,50"                                                      
                                 emptyMessage="No data found with given criteria"
                                 widgetVar="tabelItem"  
                                 paginatorPosition="top" 
                                 tableStyle="width:100%"
                                 selection="#{itemList.selectedItems}"
                                 value="#{itemList.dataModel}"
                                 lazy="true"                                              
                                 >

                        <p:column headerText="Kode" sortBy="#{item.code}"  style="width: 15%" filterBy="#{item.code}">
                            <h:outputText value="#{item.code}"   />
                        </p:column>

                        <p:column headerText="Nama" sortBy="#{item.name}" filterBy="#{item.name}">                      
                            <h:outputText value="#{item.name}" />
                        </p:column>

                        <p:column headerText="Harga Beli" style="width: 15%;text-align: right" >
                            <h:outputText value="#{item.pricePurchase}" >
                                <f:convertNumber integerOnly="true"/>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Harga Jual" style="width: 15%;text-align: right">
                            <h:outputText value="#{item.priceSale}" >
                                <f:convertNumber integerOnly="true"/>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Stok" style="width: 10%;text-align: right">
                            <h:outputText value="#{item.stock}" />
                        </p:column>

                        <p:column style="width:1%;">  
                            <p:commandButton id="selectButton" icon="ui-icon-cart" title="pilih" oncomplete="searchDialog.hide();"  
                                             style="height: 10%" action="#{purchaseItemForm.addItem}" update=":form">  
                                <f:setPropertyActionListener value="#{item}" target="#{purchaseItemForm.selectedItem}"   />  
                            </p:commandButton>  
                        </p:column> 

                        <f:facet name="footer" > 
                            Jumlah Barang : #{itemList.dataModel.rowCount}
                        </f:facet>
                    </p:dataTable>


                </h:form>  
            </p:dialog> 
        </div>

    </ui:define>
</ui:composition>