<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                template="../../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }
        </style>
        <style>
            .ui-paginator {
                <!--text-align: right ! important -->
            }
            .ui-growl {
                position: absolute;
                right : 38%;               
                top: 1%;                
            }
        </style>
    </ui:define>

    <ui:define name="content">      

        <div class="entry" >
            <h:form id="purchaseList">

                <p:growl id="growl"/> 

                <p:dataTable id="dataTable" 
                             var="purchaseItem"
                             paginator="true"
                             rows="15"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="15,25,50"                                                      
                             emptyMessage="No book found with given criteria"
                             widgetVar="bookTable"  
                             paginatorPosition="top" 
                             tableStyle="width:110%"
                             selection="#{purchaseItemList.selectedPurchaseItems}"
                             value="#{purchaseItemList.dataModel}"
                             lazy="true"                            
                             >

                    <f:facet name="header">
                        <p:toolbar style="width: 100%;border-style: none">  
                            <p:toolbarGroup align="left" style="padding-top: 10px;" >
                                <h1 class="title">Pembelian</h1>
                            </p:toolbarGroup>
                            <p:toolbarGroup align="right" style="padding-top: 25px;" >
                                <p:commandButton  value="New" icon="ui-icon-document" action="#{purchaseItemList.actionForm}" ajax="false" />
                                <p:commandButton  value="Delete" icon="ui-icon-trash" action="#{purchaseItemList.actionDelete}" update="dataTable" />
                                <p:commandButton  value="Edit" title="Edit" icon="ui-icon-pencil" action="#{purchaseItemList.actionEdit}" update="@(@[id=growl])"/>
                                <p:separator />
                                <p:commandButton value="Search" title="Search" icon="ui-icon-search"/>
                            </p:toolbarGroup>
                        </p:toolbar>
                    </f:facet>

                    <p:column selectionMode="multiple" style="width:18px" >                     
                    </p:column>  

                    <p:column headerText="Judul" sortBy="#{book.title}"  >
                        <h:outputText value="#{book.title}"   />
                    </p:column>

                    <p:column headerText="Penulis" sortBy="#{book.writer}" >                      
                        <h:outputText value="#{book.writer}" />
                    </p:column>

                    <p:column headerText="Penerbit" sortBy="#{book.publisher}" >
                        <h:outputText value="#{book.publisher}" />
                    </p:column>

                    <p:column headerText="Lokasi" style="width: 10%;text-align: center">
                        <h:outputText value="#{book.location.name}" />
                    </p:column>

                    <p:column headerText="Status" sortBy="#{book.bookStatus}" style="width: 10%;text-align: center">
                        <h:outputText value="#{book.bookStatus}" />
                    </p:column>

                    <f:facet name="footer" > 
                        Jumlah Buku : #{purchaseList.dataModel.rowCount}
                    </f:facet>
                </p:dataTable>



            </h:form>
        </div>

    </ui:define>
</ui:composition>