<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="../../../templates/ui.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .ui-confirm-dialog-severity {
                margin: 0 7px 7px 0;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <h1 class="title">Buat / Ubah Kategori</h1>
        <div class="entry" >
            <h:form>
                <p:growl id="growl"/> 

                <p:panel id="panel" style="width: 100%;border-style: dashed;">
                    <h:panelGrid columns="3" style="padding-top: 10px; padding-bottom:10px;">

                        <h:outputLabel for="name" value="Nama Kategori *" style="width: 120px;"/>
                        <p:inputText id="name" value="#{categoryFormList.category.name}" required="false" size="80" >
                            <f:validateLength minimum="2" />
                        </p:inputText>
                        <p:commandButton  value="Simpan" action="#{categoryFormList.actionSave}" ajax="false" update="@parent,:form:bookList" />
                        <p:message for="name" />

                    </h:panelGrid> 
                    <p:dataTable id="dataTable" 
                                 var="category" 
                                 paginator="true" 
                                 rows="15"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                 rowsPerPageTemplate="15,25,50"                            
                                 widgetVar="memberTable"
                                 paginatorPosition="top" 
                                 style=""
                                 value="#{categoryFormList.selectableDataModel}"
                                 selection="#{categoryFormList.selectedCategorys}"
                                 lazy="true"
                                 > 

                        <p:column selectionMode="multiple" style="width:18px" >

                        </p:column>  


                        <p:column headerText="Name" sortBy="#{category.name}">
                            <h:outputText value="#{category.name}"   />
                        </p:column>



                    </p:dataTable>
                </p:panel>


            </h:form>

        </div>

    </ui:define>
</ui:composition>